body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

h1, h2 {
    color: #333;
}

#status {
    font-weight: bold;
    margin-bottom: 10px;
}

#downloadCount {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}